
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kristi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

html {
    font-size: 62.5%;
}

*,
*:after,
*:before { 
    margin: 0
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.7rem;
    color: #363442;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* header */

.background-image {
    background-size: cover;
    background-position: center;
    height: 50vh;
	width: 100vw;
    display: flex;
    background-image: url('../assets/italian-food.jpg');
	justify-content: center;
	align-items: flex-end;
}

h1 {
	font-family: 'Lora', serif;
	font-size: 10rem;
	text-align: center;
	color: white;
	display: flex;
	margin: 0;
	padding-bottom: 4rem;
	opacity: 0.8;
	text-shadow: 2px 2px black;
}


/* menu items */

main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 2rem 10rem 10rem 10rem;
}

section {
	display: flex;
	flex-direction: column;
	flex: 1 1 0px;
	align-items: center;
	padding: 0 4rem 6rem 4rem;
}

h2 {
	font-family: 'Kristi', cursive;
	font-size: 10rem;
	font-weight: 400;
	color: #a68b7c;
}

.item-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem 0 2rem 0;
}

.item-container:after {
    content: "";
    display: block;
    border-bottom: 1px dotted #a68b7c;
	width: 20rem;
}

h3 {
	font-family: 'Lora', serif;
	font-weight: 600;
	font-size: 2rem;
	text-align: center;
	padding-bottom: 2rem;
	flex: 1 1 0px;
}

p {
	text-align: center;
	padding-bottom: 2rem;
}

.price {
	font-family: 'Lora', serif;
	font-weight: bold;
	font-size: 2rem;
	color: #a68b7c;
	padding-bottom: 4rem;
}

.spicy {
	margin-left: 15px;
}


/* checkbox */

.check-container {
	padding: 2rem 0 2rem 0;
	text-align: center;
	display: flex;
	justify-content: center;
	background-color: #a68b7c;
	border-top: 1px dotted #ffb22c;
}

label {
	font-size: 2.5rem;
	color: white;
}

input[type=checkbox] {
	cursor: pointer;
	font-size: 3rem;
	visibility: hidden;
}

input[type=checkbox]:after {
	content: "";
	background-color: none;
	display: inline-block;
	margin-left: 10px;
	width: 3.2rem;
	height: 3.2rem;
	visibility: visible;
	border: 2px solid white;
	border-radius: 25%;
}

input[type=checkbox]:checked:after {
	content: "\2714";
	text-align: center;
	color: #bf0c0c;
	background-color: white;
}


/* media queries */

@media (max-width: 1024px) {
	main {
		flex-direction: column;
	}

	h1 {
		font-size: 8rem;
	}

	h3 {
		font-size: 3rem;
	}

	p, .price {
		font-size: 2.5rem;
	}

	.item-container:after {
		width: 80vw;
		border-bottom: 2px dotted #a68b7c;
		
	}
}


@media (max-width: 768px) {
	h1 {
		font-size: 6rem;
		margin: 0 2rem 0 2rem;
	}

	label {
		margin-left: -3rem;
		font-size: 3rem;
	}
}